{% extends 'base.html'%}

{% block title %}<title>Home</title>{% endblock title %}

{% block content %}
 <div class = "container">
  <h1>COVID-19</h1>
  <table class="table">
    <thead>
      <tr>
        <td>Cases</td>
        <td>Data</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for i, j in covid_data.items() %}
        <td>{{i}}</td>
        <td>{{j}}</td>
      </tr>
       {% endfor %}
    </tbody>
  </table>
  <p>แหล่งข้อมูล
      <a href="https://covid19.th-stat.com/th/api">กรมควบคุมโรค</a>
  </p>
</div>
{% endblock content %}